#news-block {
  line-height: 1.875rem;

  img {
    @apply my-6 rounded overflow-hidden max-h-[600px]
  }

  h1 {
    @apply sm:text-2xl my-6
  }

  h2 {
    @apply sm:text-xl my-6
  }

  h3 {
    @apply sm:text-lg my-6
  }

  h4 {
    @apply sm:text-base my-6
  }

  h5 {
    @apply sm:text-sm my-6
  }

  h6 {
    @apply sm:text-xs my-6
  }
}

.binary-number {
  transition: 1s;
  @apply text-gray-700 text-2xl hover:shadow-xl hover:text-amber-400 transition-colors  select-none;
  &:hover {
    text-shadow: 0 0 10px #0f0, 0 0 20px #0f0, 0 0 40px #0f0, 0 0 80px #0f0, 0 0 160px #0f0;
  }
}